<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings>
		<add key="GitUsername" value="" />
		<add key="GitPassword" value="" />
		<add key="GitTfsBaseAddress" value="" />
		<add key="GitApiEndpointAddress" value="/tfs/DefaultCollection/_apis/" />
		<add key="MaxCollectionSize" value="10000" />
	</appSettings>
</configuration>