<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings>
		<add key="GitUsername" value="" />
		<add key="GitPassword" value="" />
		<add key="GitTfsBaseAddress" value="https://elements.visualstudio.com" />
		<add key="GitApiEndpointAddress" value="/DefaultCollection/_apis/" />
		<add key="MaxCollectionSize" value="10000" />
		<add key="WorkItemOnBoardAddress" value="/Projects/_workitems/edit/#pbiNumber"/>
	</appSettings>
</configuration>